@font-face {
  font-family: 'orbeticonspack';
  src: url('./orbeticonspack.eot?33209322');
  src: url('./orbeticonspack.eot?33209322#iefix') format('embedded-opentype'),
       url('./orbeticonspack.woff2?33209322') format('woff2'),
       url('./orbeticonspack.woff?33209322') format('woff'),
       url('./orbeticonspack.ttf?33209322') format('truetype'),
       url('./orbeticonspack.svg?33209322#orbeticonspack') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'orbeticonspack';
    src: url('../font/orbeticonspack.svg?33209322#orbeticonspack') format('svg');
  }
}
*/
[class^="orbeticon-"]:before, [class*=" orbeticon-"]:before {
  font-family: "orbeticonspack";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.orbeticon-arrowdown1:before { content: '\e800'; width: unset;} /* '' */
.orbeticon-arrowleft:before { content: '\e801'; } /* '' */
.orbeticon-bell:before { content: '\e802'; scale: 1.2;} /* '' */
.orbeticon-copy:before { content: '\e803'; } /* '' */
.orbeticon-compasssquare:before { content: '\e804'; } /* '' */
.orbeticon-cupstar:before { content: '\e805'; } /* '' */
.orbeticon-crownminimalistic:before { content: '\e806'; } /* '' */
.orbeticon-dialog:before { content: '\e807'; scale: 1.3; } /* '' */
.orbeticon-headphonesroundsound:before { content: '\e808'; } /* '' */
.orbeticon-moneybag:before { content: '\e809'; } /* '' */
.orbeticon-home2:before { content: '\e80a'; } /* '' */
.orbeticon-rocket:before { content: '\e80b'; } /* '' */
.orbeticon-handstars:before { content: '\e80c'; } /* '' */
.orbeticon-moon:before { content: '\e80d'; } /* '' */
.orbeticon-poweron:before { content: '\e80e'; } /* '' */
.orbeticon-stars:before { content: '\e80f'; } /* '' */
.orbeticon-ufo4:before { content: '\e810'; } /* '' */
.orbeticon-wallet:before { content: '\e811'; } /* '' */
.orbeticon-starangle:before { content: '\e812'; } /* '' */
.orbeticon-tickestar:before { content: '\e813'; } /* '' */
.orbeticon-verifiedcheck:before { content: '\e814'; } /* '' */
.orbeticon-wheel:before { content: '\e816'; } /* '' */
.orbeticon-dollarminimalistic:before { content: '\e817'; } /* '' */
.orbeticon-wave:before { content: '\e818'; width: unset; scale: .7; margin: 0 ; } /* '' */
.orbeticon-blackhole2:before { content: '\e819'; } /* '' */
.orbeticon-cardtransfer:before { content: '\e81a'; } /* '' */
.orbeticon-search:before { content: '\e81b'; } /* '' */
.orbeticon-bitcoin:before { content: '\e81c'; } /* '' */
.orbeticon-startsminimalistic:before { content: '\e81d'; } /* '' */
.orbeticon-ticketsale:before { content: '\e81f'; } /* '' */
.orbeticon-suspensivepoints:before { content: '\e81e'; scale: .4; margin: 0; translate: -50% 0; } /* '' */
