#SideBarRight{
    opacity: 0;
    pointer-events: none;
    background-color: var(--Background-Color-D1);
    width: 100%;
    height: min-content;
    border-radius: 15px;
    color: white;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    filter: drop-shadow(-1px 0px 1px var(--Color-Primary-Fade));
    z-index: 5;
    transition: opacity var(--Animation-speed) ease-in-out;
    max-height: 100%;
    overflow: hidden;

    section{
        padding: 12px;
        display: flex;
        width: 100%;
        flex-direction: column;
        height: max-content;
    }

    .logoutButton{
        width: 100%;
        border-radius: 6px;
        padding: 4px 0;
        gap: 12px;
        justify-content: center;
        background-color: var(--Background-Color-D1);
        filter: brightness(1);
        cursor: pointer;
        transition: filter var(--Animation-speed) ease-in-out;
        color: var(--Color-Primary);
    }

    .logoutButton:hover{
        filter: brightness(1.9);
    }
}


.App:has(#MenuBtn:hover) #SideBarRight, #SideBarRight:hover{
    opacity: 1;
    pointer-events: all;
}